.img-float {
	width: 250px;
	height: 250px;

/*	The float property can be set either left or right. This positioning will depend of the content or the sibling of the element you are selecting*/
	float: right;
	z-index: 1;
}

.parent-element{
	background-color: skyblue;
	padding: 10px;
	height: 800vh;

/*	If the parent element has the position relative, then any children that have position: absolute will have there position based */
	position: relative;
	z-index: -1;

}
.child-one{
	background-color: gray;
	padding: 10px;
}
.child-two {
	background-color: yellow;
	padding: 10px;

/*	Static -  This is the default positiong of any element */
/* Relative - This is the opposite of static, where in you can modify the top, left, bottom, and right properties to define the exact position of the 	  			element. And it also depent on the parents element. */
/* Absolute - Instead of depending on the parent element, it depent on the whole page itself. And you can still modify the exact position of left, 				  right, bottom, and right properties. */


	position: sticky;
	top: 10px;
/*	bottom: 10px;*/
}
.child-three {
	background-color: indianred;
	padding: 10px;
	position: absolute;
	/*top: 10px;
	bottom: 10px;*/
}

/* To emulate a long scrolling page. */
html {
	height: 800vh;
}

