/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cardHighlight {
	min-height: 100%;
	box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
}

.CourseCard {
	box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
}