*{
	margin: 0;
	padding: 0;
}
body {
	font-family: ;
}
.text-center{
	text-align: center;
}
.h-25{
	height: 25%;
}
.p-3{
	padding: 3px;
}
.bg-success{
	background-color: green;
}
.bg-secondary{
	background-color: gray;
}
.bg-warning {
	background-color: orange;
}

.bg-danger{
	background-color: darkred;
}

.d-flex {
	display: flex;
}
.justify-content-center {
	justify-content: center;
}
.align-items-center {
	align-items: center;
}
.flex-column {
	flex-direction: column;
}

.flex-column-reverse{
	flex-direction: column-reverse;
}