#navigation {
	background: #765C3D !important;
	flex-shrink: 0 !important;

}

#nav-text-design {
	color: #F2D2AE !important;
	font-family: Montserrat !important;
	font-size: 18px !important;
	padding-right: 40px;
}

.hero-banner {
      position: relative;
      width: 100%;
      height: 500px; 
      overflow: hidden;
}

.background-image {
      background: url('img/pexels-paul-ijsendoorn-33041.png') center/cover no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
}

.overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
 }

.text {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: left;
    }

.border-box {	
	color: #765C3D !important;
	flex-shrink: 0;
}

.text-center {
	font-style: normal;
	padding: 25px;
	padding-bottom: 20px;
}
.text-parag {
	
	text-align: center; 
	color: #765C3D; 
	font-size: 16px; 
	font-family: Montserrat; 
	font-weight: 400px; 
	font-style: normal;
	line-height: normal;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding: 100px;
}

.Rectangle1 {
  justify-content: center;
  width: 105vh;
  height: 70vh;
  background: #FFF;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
}

.container-1 {
	padding-top: 45px;
	padding-left: 80px;
	color: #765C3D;
}

.album-1 {
	padding-bottom: 17px;
}

.carousel-item {
      
}